apiVersion: v1
kind: Pod
metadata:
  name: goserver
  namespace: default
  labels:
    app: goserver
spec:
  containers:
    - name: goserver
      image: "darioeliseo/webserver:v3"
      resources:
        limits:
          cpu: 200m
          memory: 500Mi
        requests:
          cpu: 100m
          memory: 200Mi
      ports:
        - containerPort: 80
          name: http-web-svc
  restartPolicy: Always
